@font-face {
  font-family: 'Maison Neue Bold';
  src: url('4a373e70cd01dec089c1dd1185ceba51.eot'); /* IE9*/
  src: url('4a373e70cd01dec089c1dd1185ceba51.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('4a373e70cd01dec089c1dd1185ceba51.woff2') format('woff2'),
    /* chrome、firefox */ url('4a373e70cd01dec089c1dd1185ceba51.woff')
      format('woff'),
    /* chrome、firefox */ url('4a373e70cd01dec089c1dd1185ceba51.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('4a373e70cd01dec089c1dd1185ceba51.svg#Maison Neue Bold') format('svg'); /* iOS 4.1- */
}
