html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-default), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 16px;
  color: var(--dark);
  overflow-x: hidden;
}

.ol,
li {
  list-style-type: none;
}

:root {
  --font-default: 'HelveticaNeueCyr', sans-serif;
  --font-wide: 'Maison Neue', 'HelveticaNeueCyr', sans-serif;
  --dark: #0e0e0f;
  --dark-hover: #2c2c2c;
  --field-highlight: #625bf6;
  --green-status: #3c8224;
  --green-status-bg: #dcf2d9;
  --loading: #ebebeb;
  --grey-60: rgba(40, 40, 40, 0.6);
  --grey-30: rgba(40, 40, 40, 0.3);
  --blue-msg: #ceddff;
  --grey-10: rgba(40, 40, 40, 0.1);
  --grey-5: rgba(40, 40, 40, 0.05);
  --bg-grey: #f5f5f5;
  --white: #fff;
  --white-hover: rgb(243, 243, 243);
  --transition: 0.2s linear;
  --font-sm: 1rem;
  --font-md: 1.1rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;
  --font-xxxl: 2.8rem;
  --component-margin: 5rem;
  --gap: 2rem;
  --stroke: #e8e8e8;
  --primary: #ff6243;
  --primary-hover: #e65a3e;
}

.no-items {
  font-size: 1.1rem;
  font-weight: 400;
  width: max-content;
}

.no-items .bold {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.form-error {
  font-size: 1rem;
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.error-label-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

h1 h2,
h3 {
  font-weight: 600;
}

.label {
  font-family: var(--font-default);
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: var(--grey-60);
}

.title-sm {
  font-family: var(--font-wide);
  font-size: 1.6rem;
  font-weight: 600;
}

.title-md {
  font-family: var(--font-wide);
  font-size: 2rem;
  font-weight: 600;
}

.see-all-button {
  font-size: 1rem;
  font-family: var(--font-default);
  cursor: pointer;
  color: var(--field-highlight);
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.input {
  outline: none;
  font-family: var(--font-default);
  color: var(--dark);
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.8rem 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--grey-10);

  &::placeholder {
    font-weight: 500;
    color: var(--grey-30);
  }
}

.button {
  cursor: pointer;
  font-family: var(--font-medium);
  color: var(--white);
  background-color: var(--primary);
  font-weight: 500;
  border: none;
  min-width: max-content;
  font-size: 1rem;
  padding: 0.8em 2em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2em;
  transition: background var(--transition);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--grey-30);
  }

  &:disabled:hover {
    background-color: var(--grey-30);
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}

.button-xl {
  cursor: pointer;
  font-family: var(--font-medium);
  color: var(--white);
  background-color: var(--primary);
  font-weight: 500;
  border: none;
  min-width: max-content;
  font-size: 1rem;
  padding: 1.3em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2em;
  transition: background var(--transition);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--grey-30);
  }

  &:disabled:hover {
    background-color: var(--grey-30);
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 100em 0;
  }
}

.success {
  margin-top: 1rem;
  color: rgb(28, 190, 36);
}

.loading {
  background-color: #ebebeb;
}

.skeleton-animation {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: fff;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.skeleton-animation img {
  display: none;
}

/* Modal */
.modal-inner__title {
  font-size: 1.8rem;
  font-family: var(--font-wide);
}
.modal-inner {
  max-width: 100%;
  min-width: 300px;

  .card-button {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }

  .card-title {
    font-size: 2rem;
    font-family: var(--font-wide);
    margin-bottom: 1rem;
  }

  .label {
    margin-bottom: 1rem;
  }
}

.modal-inner__text {
  line-height: 150%;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--grey-60);
}

.modal-buttons {
  display: flex;
  margin-top: 2rem;
}

.cancel--button {
  background: transparent !important;
  color: var(--dark);

  &:hover {
    color: var(--dark-hover);
  }
}

.PhoneInputInput,
.country-dropdown select {
  margin-top: 0.5rem;
  background-color: var(--white);
  border: none;
  border-bottom: 1px solid var(--grey-10);
  outline: none;
  padding: 0.8em 0em;
  font-size: 1rem;
  font-family: var(--font-default);
  color: var(--dark);
  width: 100%;
  appearance: none;
}

.PhoneInputInput::placeholder,
.country-dropdown select::placeholder {
  color: var(--grey-30);
}

select {
  font-size: 1rem;
}

// Dropdown settings
.dropdown-settings {
  z-index: 5;
  position: relative;
  padding-left: 2rem;

  .dropdown-tab {
    min-width: max-content;
    border-radius: 4px;
    border: 1px solid var(--stroke);
    top: 25px;
    right: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;

    .dropdown-tab__item {
      min-width: 5rem;
      background-color: white;
      width: 100%;
      padding: 0.8em 0.6em;
      cursor: pointer;
      font-size: 1rem;
      display: flex;
      gap: 0.3rem;
      align-items: center;

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }

  &:hover .dropdown-tab {
    opacity: 1;
    pointer-events: all;
  }
}

.rating-title {
  font-family: var(--font-wide);
  font-size: 2rem;
}

.rating-subtitle {
  margin-top: 1rem;
}

.rating-stars {
  margin-top: 0.5rem;
}

.rating-textarea {
  border: 1px solid var(--grey-10);
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  width: 100%;
  margin-top: 0.5rem;
  min-width: 20rem;
  padding: 0.5rem;
  resize: none;
  min-height: 10rem;

  &::placeholder {
    color: var(--grey-30);
  }
}

.rating-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.reviews-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-wide);
}

.reviews-inner {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  padding-right: 4rem;
  min-width: 450px;

  .no-items {
    margin-top: 0.5rem;
  }

  .review {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .review-user {
    font-size: 1rem;
    font-family: var(--font-wide);
  }

  .review-text {
    font-size: 1rem;
    margin-top: 0.5rem;
    min-width: 10rem;
    max-width: 15rem;
  }

  .review-date {
    margin-top: 1rem;
    color: var(--grey-60);
  }
}

.sucess-table {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--green-status-bg);
  color: var(--green-status);
  border-radius: 6px;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}
